:root {
  --background-color-hero: #2F303A;
  --background-color-first: #FFFFFF;
  --background-color-second: #F5F5F5;
  --background-color-third: #F5F4FA;
  --color-borders: #ECECEC;
  --color-brand: #2196F3;
  --color-logo-second: #000000;
  --color-primary: #212121;
  --color-secondary:#757575;
  --color-accent: #188CE8;
}

body{
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-first);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*Логотип*/
/*Логотип header*/
.link-logo,
.logo-header{
    color: var(--color-logo-second);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
}

.logo-header{
    color: var(--color-brand);
    font-family: 'Raleway', sans-serif;
}

.link-logo:hover,
.link-logo:focus{
    color: var(--color-logo-second);
}

.logo-header:hover,
.logo-header:focus {
    color: var(--color-brand);
}

/*Логотип footer*/
.logo{
    color:var(--background-color-first);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-footer{
    color: var(--color-brand);
    font-family: 'Raleway', sans-serif;
}



.logo:hover,
.logo:focus{
    color: var(--background-color-first);
}
.logo-footer:hover,
.logo-footer:focus{
    color: var(--color-brand);
}



/*Навігація*/

.link{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus{
    color: var(--color-brand);
}

.contact{
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus{
    color: var(--color-brand);
}

/*секція Hero*/
.hero{
    background-color: var(--background-color-hero);
}

.hero-title{
    color: var(--background-color-first);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*кнопки*/
.button-primary{
    font-family: 'Roboto', sans-serif;
    color: var(--background-color-first);
    background-color: var(--color-brand);
    border-radius: 4px;
    border-style: none;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
}

.button-primary:hover,
.button-primary:focus{
    background-color: var(--color-accent);
}


.button-secondary{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-third);
    border-radius: 4px;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    }

.button-secondary:hover,
.button-secondary:focus{
    color: var(--background-color-first);
    background-color: var(--color-brand);
}

/*секція subtitle-hero */
.caption{
    color: var(--color-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-hero{
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-tittle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/*секція section-fuatures Чим ми займайємося*/

.fuature-box{
    display: flex;
}

/*секція section-team Наша команда*/
.section-team{
    background-color: var(--background-color-third);
}

.section-team li{
    background-color: var(--background-color-first);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text{
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/*footer*/
.footer{
    background-color: var(--background-color-hero);
}
.address-footer{
    color: var(--background-color-first);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contact-footer{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


.address-footer:hover,
.address-footer:focus{
    color: var(--color-brand);
}

.contact-footer:hover,
.acontact-footer:focus{
    color: var(--color-brand);
}

/*портфоліо проєкти*/

.visually-hidden { 
        color: rgba(0, 0, 0, 0); 
        position: absolute; 
        width: 1px; 
        height: 1px; 
        margin: -1px; 
        border: 0; 
        padding: 0; 
        white-space: nowrap;
         clip-path: inset(100%); 
        clip: rect(0 0 0 0); 
        overflow: hidden;
    }

.list-project-subtitle {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}


.text-project{
    color: var(--color-secondary);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.list-project-subtitle:hover,
.list-project-subtitle:focus {
    color: var(--color-primary);
}

.text-project:hover,
.text-project:focus {
    color: var(--color-secondary);
}

